<% if @mp.twitter_username %>
  <h1>Your MP is on Twitter!</h1>
<% else %>
   <h1>Your MP is not on Twitter!</h1>
<% end %>

<div class="mp">
  <p>Your local MP is <span class="name"><%= @mp.full_name %></span>, <span class="party <%= @mp.party.downcase %>"><%= @mp.party %></span> MP for <span class="constituency"><%= @mp.constituency %></span>.</p>
</div>
   
<% if @mp.twitter_username %>
  <p>His or her twitter name is <strong><%= @mp.twitter_username %></strong>.</p>
  
  <p>View <a href="http://twitter.com/<%= @mp.twitter_username %>">his or her profile on Twitter</a> or <a href="http://twitter.com?status=@<%= @mp.twitter_username %>%20">send them a message</a> now.</p>
<% else %>
  <p>Your MP is not currently using Twitter as far as we are aware. If you think they should be, why not <a href="http://writetothem.com">write to them directly</a> and let them know.</p>
<% end %>

<p id="findoutmore">Find out more about your local MP on <a href="http://www.theyworkforyou.com/mp/?m=<%= @mp.member_id %>">TheyWorkForThem.com</a>.</p>

<p id="where"><a href="http://www.techbelly.com/2009/11/04/list-of-uk-mps-on-twitter/">Where does this data come from?</a></p>